.jumbotron {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to right, #df9f20, #33c5ff, #009933); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

p {
  font-family: "ZCOOL XiaoWei", serif; }

h1, h2, h3, h4 {
  font-family: "Rubik", sans-serif; }
